<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:myns="http://localhost/springdemo/springdemo3"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://localhost/springdemo/springdemo3 http://localhost/springdemo/springdemo3/user.xsd">
    <myns:user id="root" username="admin" sex="male" age="25"/>
</beans>